<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage task management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description"
          CONTENT="Club 45 evenementen, Huldenberg, Club Huldenberg evenementen inschrijven, 1945 Huldenberg evenementen">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
    <link rel="icon" type="image/png" href="icon16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="icon32.png" sizes="32x32">

</head>
<body>
<h1>
    Homepage
</h1>
<nav>
    <ul>
        <li><a href="/tasks">Overview of your tasks</a></li>
        <li><a href="/tasks/new">Create a new task</a></li>
    </ul>
</nav>
</body>
</html>