<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="currentPage = #{newTask}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:include="header.html"></div>
<body style="height: 100%; width: 100%">
<div th:include="nav.html"></div>
<form th:method="post" th:action="@{/tasks/new}" th:object="${task}">
    <div>
        <p th:errors="*{title}"></p>
        <label for="title" th:text="#{title} + ':'"></label>
        <input type="text" th:field="*{title}">
    </div>
    <div>
        <p th:errors="*{description}"></p>
        <label for="description" th:text="#{desc} + ':'"></label>
        <input type="text" th:field="*{description}">
    </div>
    <div>
        <p th:errors="*{deadlineDate}"></p>
        <label for="deadlineDate" th:text="#{duedate} + ':'"></label>
        <input type="date" th:field="*{deadlineDate}">
    </div>
    <div>
        <p th:errors="*{deadlineTime}"></p>
        <label for="deadlineTime" th:text="#{duetime} + ':'"></label>
        <input type="time" th:field="*{deadlineTime}">
    </div>
    <div>
        <input type="submit" th:value="#{submit}">
    </div>
</form>
<div th:include="footer.html"></div>
</body>
</html>