<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="currentPage = #{newTask}">
<div th:include="header.html"></div>
<body style="height: 100%; width: 100%">
<div th:include="nav.html"></div>
<form th:method="post" th:action="@{/tasks/new/submit}">
    <p>
        <label for="title" th:text="#{title} + ':'"></label>
        <input type="text" id="title" name="title">
    </p>
    <p>
        <label for="description" th:text="#{desc} + ':'"></label>
        <input type="text" id="description" name="description">
    </p>
    <p>
        <label for="deadlineDate" th:text="#{duedate} + ':'"></label>
        <input type="date" id="deadlineDate" name="deadlineDate">
    </p>
    <p>
        <label for="deadlineTime" th:text="#{duetime} + ':'"></label>
        <input type="time" id="deadlineTime" name="deadlineTime">
    </p>
    <p>
        <input type="submit" th:value="#{submit}">
    </p>
</form>
<div th:include="footer.html"></div>
</body>
</html>