<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="currentPage=#{createSub}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:include="header.html"></div>
<body style="height: 100%; width: 100%">
<div th:include="nav.html"></div>
<form th:method="post" th:action="@{'/tasks/' + ${id} + '/sub/create'}" th:object="${subTask}">
    <div>
        <p th:errors="*{title}"></p>
        <label for="title" th:text="#{title} + ':'"></label>
        <input type="text" th:field="*{title}">
    </div>
    <div>
        <p th:errors="*{description}"></p>
        <label for="description" th:text="#{desc} + ':' "></label>
        <input type="text" th:field="*{description}">
    </div>
    <div>
        <input type="hidden" th:value="${id}" id="id" name="id">
    </div>
    <p>
        <input type="submit" th:value="#{submit}">
    </p>
</form>
<div th:include="footer.html"></div>
</body>
</html>