<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='Register'">
<div th:include="header.html"></div>
<body>
<div th:include="nav.html"></div>
<form th:method="post" th:action="@{/signup}" th:object="${user}">
    <p th:if="${!#fields.globalErrors().isEmpty()}" th:text="${#fields.globalErrors()}"></p>
    <div>
        <label for="username">Username:</label>
        <input type="text" th:field="*{username}">
        <p th:errors="*{username}"></p>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" th:field="*{password}">
    </div>
    <input type="submit" value="Sign Up">
</form>
<p>Already have an account? Login <a href="/loginPage">here</a></p>
</body>
<div th:include="footer.html"></div>
</html>