<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="currentPage=#{register}">
<div th:include="header.html"></div>
<body>
<div th:include="nav.html"></div>
<form th:method="post" th:action="@{/signup}" th:object="${user}">
    <!--gebruik th:object als object en wijs th:field toe als attributes-->
    <div>
        <label for="username" th:text="#{userName} + ':'"></label>
        <!--th:field geeft aan welke parameter aan dit inputveld gelinkt is;
         zorgt voor bij een fout geeft deze de juiste velden opnieuw ingevuld terug;
         id en name attribute worden automatisch ingevuld-->
        <input type="text" th:field="*{username}">
        <p th:errors="*{username}"></p>
    </div>
    <div>
        <label for="password" th:text="#{userPass} + ':'"></label>
        <input type="password" th:field="*{password}">
    </div>
    <input type="submit" th:value="#{register}">
</form>
<div style="display: inline-block">
    <p th:text="#{gotAccount} + ' '" style="display: inline-block; "></p><a th:href="@{/loginPage}" th:text="#{here}" style="display: inline-block; "></a>
</div>

</body>
<div th:include="footer.html"></div>
</html>