<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="currentPage = #{detail}">
<div th:include="header.html"></div>
<body style="height: 100%; width: 100%">
<div th:include="nav.html"></div>
<p th:unless="${task}" th:text="#{notFound}"></p>
<table th:if="${task}">
    <tr>
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.deadlineDate}"></td>
        <td><a th:href="@{/tasks/edit/{id} (id=${task.id})}" th:text="#{edit}"></a></td>
        <td><a th:href="@{/tasks/{id}/sub/create(id=${task.id})}" th:text="#{createSub}"></a></td>
    </tr>
</table>
<div class="grid-container">
    <article class="grid-tile" th:if="${task.subTasks != null && !task.subTasks.empty}" th:each="subTask : ${task.subTasks}">
        <h2 th:text="${subTask.title}"></h2>
        <p th:text="${subTask.description}"></p>
    </article>
</div>
<div th:include="footer.html"></div>
</body>
</html>