<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1>Task Detail</h1>
<p th:unless="${task}">Task not found</p>
<table th:if="${task}">
    <tr>
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.deadlineDate}"></td>
        <td><a th:href="@{/tasks/edit/{id} (id=${task.id})}">Edit</a></td>
        <td><a th:href="@{/tasks/{id}/sub/create(id=${task.id})}">Create subtask</a></td>
    </tr>
</table>
<div class="grid-container">
    <article class="grid-tile" th:if="${task.subTasks != null && !task.subTasks.empty}" th:each="subTask : ${task.subTasks}">
        <h2 th:text="${subTask.title}"></h2>
        <p th:text="${subTask.description}"></p>
    </article>
</div>
</body>
</html>